.small {
    width: 50px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.main-img {
    width: 200px;
}

.imgs-cointainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}